Repository morph-kgc/morph-kgc, pull requests merged in 2024-04, with the labels that each got.

#231 Translation of termtypes in yarrrml to rml
  src/morph_kgc/mapping/yarrrml.py
Labels: yarrrml

#237 Support of Language and Datatype maps
  .github/workflows/ci.yml
  src/morph_kgc/constants.py
  src/morph_kgc/mapping/mapping_constants.py
  src/morph_kgc/mapping/mapping_parser.py
  src/morph_kgc/mapping/mapping_partitioner.py
  src/morph_kgc/materializer.py
  test/rml-core/json/complex/output.nq
  test/rml-core/xml/complex/data.xml
  test/rml-core/xml/complex/mapping.ttl
  test/rml-core/xml/complex/mapping.yaml
  test/rml-core/xml/complex/output.nq
  test/rml-core/xml/complex/test_complex_XML.py
Labels: rml-core

#236 Helm
  helm/Chart.yaml
  helm/README.md
  helm/templates/deployment.yaml
  helm/templates/secrets.yaml
  helm/values.yaml
Labels: build
